<div class="container my-3">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb breadcrumb-chevron p-3 bg-body-tertiary rounded-3">
        <li class="breadcrumb-item">
          <a id="information" class="link-body-emphasis fw-semibold text-decoration-none">Information</a>
        </li>
        <li class="breadcrumb-item">
            <a id="project" class="link-body-emphasis fw-semibold text-decoration-none" href="#">Projects</a>
          </li>
          <li class="breadcrumb-item">
            <a class="link-body-emphasis fw-semibold text-decoration-none" href="#">Massages</a>
          </li>
          <li class="breadcrumb-item">
            <a id="activity" class="link-body-emphasis fw-semibold text-decoration-none" href="#">Activity</a>
          </li>
      </ol>
    </nav>
  </div>